Repository sheypoor/frontend-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,tsx,ts}": "eslint --fix",
    "*.{md,json,html,css,scss,sass}": "prettier --write"
}

feat: add createuser page and its components
  src/App.tsx
  src/index.tsx
  src/pages/CreateUser/CreateUser.types.ts
  src/pages/CreateUser/components/ContactInfoForm/index.tsx
  src/pages/CreateUser/components/SuccessContent/index.tsx
  src/pages/CreateUser/components/UserInfoForm/index.tsx
  src/pages/CreateUser/index.tsx
Due: eslint --fix

feat/ react hook form, yup and its resolver and sass modules added
  package-lock.json
  package.json
  src/Application.tsx
  src/declaration.d.ts
  src/index.module.scss
  src/pages/createUser/FirstStep/index.tsx
Due: eslint --fix, prettier --write

fix: change package json name and add author
  package.json
Due: prettier --write

readme: createREADME file to project
  README.md
Due: prettier --write

feat/ working on wizard card
  src/Routes/index.tsx
  src/assets/styles/_colors.scss
  src/assets/styles/_variables.scss
  src/components/app/Wizard/Wizard.module.scss
  src/components/app/Wizard/index.tsx
  src/index.module.scss
  src/index.tsx
  src/pages/createUser/CreateUser.module.scss
  src/pages/createUser/FirstStep/FirstStep.module.scss
  src/pages/createUser/FirstStep/index.tsx
  src/pages/createUser/context/enums.ts
  src/pages/createUser/context/index.tsx
  src/pages/createUser/context/types.ts
  src/pages/createUser/hooks/index.tsx
  src/pages/createUser/index.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

feat/ creating user flow almost done
  package-lock.json
  package.json
  src/Application.scss
  src/Application.tsx
  src/assets/styles/_colors.scss
  src/components/app/Wizard/Wizard.module.scss
  src/components/app/Wizard/index.tsx
  src/components/app/Wizard/types.ts
  src/components/kit/Button/enums.ts
  src/components/kit/Button/index.module.scss
  src/components/kit/Button/index.tsx
  src/components/kit/FormFieldWrapper/FormFieldWrapper.module.scss
  src/components/kit/FormFieldWrapper/index.tsx
  src/components/kit/Input/index.module.scss
  src/components/kit/Input/index.tsx
  src/components/kit/Select/index.module.scss
  src/components/kit/Select/index.tsx
  src/components/kit/Select/types.ts
  src/index.module.scss
  src/pages/createUser/CreateUser.module.scss
  src/pages/createUser/FirstStep/index.tsx
  src/pages/createUser/FirstStep/validation-schema.ts
  src/pages/createUser/SecondStep/constants.ts
  src/pages/createUser/SecondStep/index.tsx
  src/pages/createUser/SecondStep/validation-schema.ts
  src/pages/createUser/constants/form-steps.ts
  src/pages/createUser/context/index.tsx
  src/pages/createUser/context/types.ts
  src/utils/toast.ts
Due: eslint --fix, prettier --write

feat/ wizard of create user flow done
  src/components/kit/Select/index.tsx
  src/pages/createUser/FirstStep/validation-schema.ts
  src/pages/createUser/SecondStep/index.tsx
  src/pages/createUser/SecondStep/types.ts
Due: eslint --fix

chor/ add necessary plugin for vite
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix/ code clean up
  src/pages/createUser/FirstStep/index.tsx
  src/pages/createUser/SecondStep/index.tsx
  src/pages/createUser/context/index.tsx
  src/pages/createUser/index.tsx
Due: eslint --fix

refactor/ code cleaup v2 and create 404 component
  src/Application.scss
  src/Routes/constants/route-constants.ts
  src/Routes/index.tsx
  src/assets/styles/_colors.scss
  src/components/app/Wizard/Wizard.module.scss
  src/components/app/Wizard/config.ts
  src/components/app/Wizard/index.tsx
  src/components/kit/Button/config.ts
  src/components/kit/Button/enums.ts
  src/components/kit/Button/index.module.scss
  src/components/kit/Button/index.tsx
  src/components/kit/Input/index.module.scss
  src/components/kit/Input/index.tsx
  src/components/kit/Select/index.module.scss
  src/pages/NotFound/NotFound.module.scss
  src/pages/NotFound/index.tsx
  src/pages/createUser/FirstStep/components/Form/index.tsx
  src/pages/createUser/FirstStep/components/Form/validation-schema.ts
  src/pages/createUser/FirstStep/index.tsx
  src/pages/createUser/SecondStep/SecondStep.module.scss
  src/pages/createUser/SecondStep/components/Form/constants.ts
  src/pages/createUser/SecondStep/components/Form/index.tsx
  src/pages/createUser/SecondStep/components/Form/validation-schema.ts
  src/pages/createUser/SecondStep/index.tsx
  src/pages/createUser/constants/form-steps.ts
Due: eslint --fix, prettier --write

refactor/ remove unused import
  src/pages/createUser/SecondStep/index.tsx
Due: eslint --fix

feat/ repo dockerized and readme file updated
  Dockerfile
  README.md
  vite.config.ts
Due: eslint --fix, prettier --write

feat/ readme file finalized
  README.md
Due: prettier --write

remove relative path to sdk as we dont need it cause its a defined module in package.json deps
  src/pages/createUser/SecondStep/index.tsx
Due: eslint --fix
