Repository sheypoor/frontend-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,tsx,ts}": "eslint --fix",
    "*.{md,json,html,css,scss,sass}": "prettier --write"
}

some new packages have been added
  package-lock.json
  package.json
Due: prettier --write

typescript config has been added
  tsconfig.json
Due: prettier --write

html file has been added to public folder
  public/index.html
Due: prettier --write

declare sdk type
  src/sdk.d.ts
Due: eslint --fix

new components have been added to src
  src/App.tsx
  src/components/form/elements/button.tsx
  src/components/form/elements/number-input.tsx
  src/components/form/elements/select.tsx
  src/components/form/elements/string-input.tsx
  src/components/form/form.tsx
  src/components/notices/toaster.tsx
  src/enums/newsletter.ts
  src/enums/routes.ts
  src/hooks/auth-hook.ts
  src/index.tsx
  src/layout/layout.tsx
  src/models/route.ts
  src/models/store.ts
  src/models/user.ts
  src/pages/home/home.tsx
  src/pages/not-found/not-found.tsx
  src/pages/register-and-login/form-actions.ts
  src/pages/register-and-login/register-and-login.tsx
  src/routes/routes.ts
  src/state-management/store.ts
Due: eslint --fix

feat(newsletterForm): implement UI for newsletter form
  .eslintrc.cjs
  .prettierrc
  alias.ts
  index.html
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/layout/Header/Header.tsx
  src/components/layout/Header/Navbar.tsx
  src/components/newsletter/RegisterForm/index.tsx
  src/components/newsletter/RegisterForm/steps/StepOne.tsx
  src/components/newsletter/RegisterForm/steps/StepTwo.tsx
  src/config/colors.ts
  src/config/theme.ts
  src/constants/newsletter.ts
  src/layouts/index.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/router/AppRouter.tsx
  src/router/Routes.ts
  src/types/newsletter.type.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat(newsletter): complete newspaper registration
  package.json
  pnpm-lock.yaml
  sdk/index.js
  src/api/http/request.ts
  src/api/modules/newsletter.ts
  src/components/newsletter/RegisterForm/index.tsx
  src/components/newsletter/RegisterForm/steps/StepTwo.tsx
  src/config/api.ts
  src/hooks/useHttp.ts
Due: eslint --fix, prettier --write

feat(deploy): add github-pages config for deploy
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deploy): fix deploy configs
  package.json
  tsconfig.json
Due: prettier --write

fix(deploy): fix pnpm-lock issue
  pnpm-lock.yaml
Due: none

fix(deploy): fix typescript build issues
  package.json
  pnpm-lock.yaml
  sdk/package.json
  src/api/modules/newsletter.ts
  src/components/layout/Header.tsx
  src/components/layout/Navbar.tsx
  src/components/newsletter/RegisterForm/index.tsx
  src/components/newsletter/RegisterForm/steps/StepOne.tsx
  src/components/newsletter/RegisterForm/steps/StepTwo.tsx
  src/layouts/default.tsx
  src/router/AppRouter.tsx
  src/router/Routes.ts
  src/types/api.type.ts
  src/types/index.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix(deploy): update README.md and package.json
  README.md
  package.json
Due: prettier --write

add two step for form input
  .gitignore
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/manifest.json
  sdk/index.js
  sdk/package.json
  src/App.js
  src/components/UI/Buttons/BackButton/index.js
  src/components/UI/Buttons/BackButton/index.module.scss
  src/components/UI/Buttons/index.js
  src/components/UI/Buttons/index.module.scss
  src/components/UI/CircularProgressOnButton/index.js
  src/components/UI/CircularProgressOnButton/index.module.scss
  src/components/UI/Inputs/Select/index.js
  src/components/UI/Inputs/Select/index.module.scss
  src/components/UI/Inputs/TextInput/index.js
  src/components/UI/Inputs/TextInput/index.module.scss
  src/components/Widget/TankYou/index.js
  src/components/Widget/TankYou/index.module.scss
  src/components/Widget/User/_components/NewsletterStep/index.js
  src/components/Widget/User/_components/UsernameStep/index.js
  src/components/Widget/User/index.js
  src/components/Widget/User/index.module.scss
  src/components/Widget/User/model/inde.ts
  src/index.js
  src/index.scss
  src/shared/constants/index.js
  src/shared/styles/_fonts.scss
  src/shared/styles/_main.scss
  src/shared/utilities/handleError/index.js
  src/shared/utilities/regexValidation/index.js
  src/shared/utilities/sdk/index.js
  src/static/fonts/IRANSans.woff
  v1/package-lock.json
  v1/package.json
Due: eslint --fix, prettier --write

add icon
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/sheypoor-logo.png
Due: prettier --write

add regex
  src/components/Widget/User/index.js
  src/shared/utilities/regexValidation/index.js
Due: eslint --fix

feat: Done!
  .eslintrc.cjs
  .gitignore
  README.md
  index.html
  package-lock.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  public/vite.svg
  sdk/index.d.ts
  sdk/package.json
  src/App.tsx
  src/components/AddUser/StepOne.tsx
  src/components/AddUser/StepTwo.tsx
  src/components/AddUser/index.tsx
  src/components/Icons/index.tsx
  src/components/Select/index.tsx
  src/components/TextInput/index.tsx
  src/components/UsersList/index.tsx
  src/main.tsx
  src/styles/index.css
  src/vite-env.d.ts
  tailwind.config.js
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat(config): initialize react app with basic routing and css global styles
  package.json
  pnpm-lock.yaml
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.tsx
  src/index.tsx
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/routes/index.tsx
  src/setupTests.ts
  src/styles/GlobalStyles.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

feat(config): add routes for signup steps
  src/pages/index.tsx
  src/pages/newsletter/index.tsx
  src/pages/personal-information/index.tsx
  src/pages/sign-up-complete/index.tsx
  src/routes/index.tsx
Due: eslint --fix

chore: initial project setup
  package-lock.json
  package.json
  postcss.config.js
  public/index.html
  sdk/index.ts
  src/App.tsx
  src/index.tsx
  src/styles/_global.scss
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

feat(pages): add name and age fields to personal info page with validation
  src/App.tsx
  src/assets/arrow-right.svg
  src/assets/index.ts
  src/library/utilities/index.ts
  src/library/utilities/input-validators.ts
  src/pages/newsletter/index.tsx
  src/pages/personal-information/index.tsx
  src/pages/personal-information/styles.ts
  src/routes/index.tsx
  src/store/index.tsx
  src/styles/GlobalStyles.tsx
Due: eslint --fix

feat(pages): add email and schedule fields and handle mock server request
  package.json
  src/assets/index.ts
  src/assets/reload.svg
  src/library/utilities/input-validators.ts
  src/pages/newsletter/index.tsx
  src/pages/newsletter/styles.ts
  src/pages/personal-information/index.tsx
  src/react-app-env.d.ts
  src/store/index.tsx
Due: eslint --fix, prettier --write

feat(pages): add complete page to review the infos
  src/assets/index.ts
  src/assets/youtube.svg
  src/pages/newsletter/index.tsx
  src/pages/sign-up-complete/index.tsx
  src/pages/sign-up-complete/styles.ts
  src/routes/index.tsx
Due: eslint --fix

fix(styles): add card around infos in the complete sign up page
  src/pages/sign-up-complete/index.tsx
  src/pages/sign-up-complete/styles.ts
Due: eslint --fix

refactor(routes): add lazy loading for pages
  src/routes/index.tsx
Due: eslint --fix

refactor(store): change types to avoid unexpected states
  src/library/utilities/index.ts
  src/pages/newsletter/index.tsx
  src/pages/personal-information/index.tsx
  src/pages/sign-up-complete/index.tsx
  src/pages/sign-up-complete/styles.ts
  src/store/index.tsx
  src/store/types.ts
Due: eslint --fix

feat(components): add input component with internal validation
  src/library/components/Input/index.tsx
  src/library/components/Input/styles.ts
  src/library/components/index.ts
  src/library/utilities/input-validators.ts
Due: eslint --fix

refactor(pages): refactor to use Input component
  src/pages/newsletter/index.tsx
  src/pages/newsletter/styles.ts
  src/pages/personal-information/index.tsx
  src/pages/personal-information/styles.ts
  src/pages/sign-up-complete/index.tsx
Due: eslint --fix

feat(theme): add theme support and refactor css styles
  src/App.tsx
  src/emotion.d.ts
  src/pages/newsletter/styles.ts
  src/pages/personal-information/styles.ts
  src/pages/sign-up-complete/styles.ts
  src/styles/theme.ts
Due: eslint --fix

chore(config): add path aliases
  craco.config.js
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/library/components/Input/index.tsx
  src/pages/newsletter/index.tsx
  src/pages/personal-information/index.tsx
  src/pages/sign-up-complete/index.tsx
  src/routes/index.tsx
  src/store/types.ts
  tsconfig.json
  tsconfig.paths.json
Due: eslint --fix, prettier --write

feat/ react and vite module bundler added into raw repo
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.jsx
  src/index.jsx
  vite.config.js
Due: eslint --fix, prettier --write

feat/ make readme file empty
  README.md
Due: prettier --write

fix/ app meta description been updated
  index.html
Due: prettier --write

feat/ repo changes to typeScript from javaScript
  index.html
  package-lock.json
  package.json
  src/App.jsx
  src/Application.tsx
  src/index.jsx
  src/index.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

chore: config tailwind and typescript
  package-lock.json
  package.json
  sdk/index.ts
  src/sdk/index.ts
  src/sdk/package.json
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add general components
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/Button/index.ts
  src/components/Input/Input.tsx
  src/components/Input/Input.types.ts
  src/components/Input/index.ts
  src/components/Select/Select.tsx
  src/components/Select/Select.types.ts
  src/components/Select/index.ts
Due: eslint --fix

feat: add stepper component
  src/components/Stepper/StepItem.tsx
  src/components/Stepper/Stepper.tsx
  src/components/Stepper/Stepper.types.ts
  src/components/Stepper/index.ts
Due: eslint --fix

feat: create layout page
  src/components/Layout/Layout.tsx
  src/components/Layout/index.ts
Due: eslint --fix

feat: add constants and utils
  src/constants/createUserForm.ts
  src/utils/validations.ts
Due: eslint --fix

feat: create custom hook for handle forms and submits
  src/hooks/useCreateUser.ts
Due: eslint --fix

feat/ react router dom added and configured
  index.html
  package-lock.json
  package.json
  src/Application.tsx
  src/Routes/constants/route-constants.ts
  src/Routes/index.tsx
  src/index.tsx
  src/pages/createUser/FirstStep/index.tsx
  src/pages/createUser/SecondStep/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write
